@import "node_modules/tailwindcss/base";
@import "node_modules/tailwindcss/components";
@import "node_modules/tailwindcss/utilities";

@layer base {
  h1, 
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-serif;
  }

  h1 {
    @apply text-7xl;
    @apply mt-6;
    @apply mb-4;
  }
  h2 { 
    @apply text-3xl;
    @apply mt-5;
    @apply mb-3;
  }
  h3 { 
    @apply text-2xl;
    @apply mt-5;
    @apply mb-3;
  }
}

@layer components {
  .ingredients {
    ul {
      @apply invisible;
      @apply opacity-0;
      @apply max-h-0;
    }
    #toggle:checked ~ ul {
      @apply visible;
      @apply opacity-100;
      @apply max-h-max;
    }

    .toggle-icon:before {
      content: "▾";
    }
    #toggle:checked ~ label h3 .toggle-icon:before {
      content: "▴";
    }
  }

  .recipe {
    counter-reset: step;
 
    h3 {
      @apply flex;
      @apply items-center;
      @apply gap-1;
      print-color-adjust: exact !important;

      &::before {
        content: '';
        @apply flex-1;
        @apply max-w-3;
        @apply h-px;
        @apply bg-black;
        print-color-adjust: exact !important;
      }

      &::after {
        content: '';
        @apply flex-1;
        @apply h-px;
        @apply bg-black;
        print-color-adjust: exact !important;
      }
    }

    ol {
      @apply min-h-6;
    }

    p + ol, ol + ol, ol li + li {
      @apply mt-6;
    }

    ol li {
      @apply indent-6;
      counter-increment: step;

      &:before {
        @apply absolute;
        @apply w-4;
        @apply -ml-12;
        @apply font-bold;
        content: counter(step) ". ";
      }
    }

    ul {
      @apply m-0;
      @apply lg:-ml-64;
      @apply p-0;
      @apply lg:pr-2;
      @apply list-none;
      @apply lg:max-w-64;
      @apply lg:text-right;
      @apply leading-6;
      @apply inline;
      @apply lg:block;

      li {
        @apply font-sans;
        @apply font-bold;
        @apply italic;
        @apply m-0;
        @apply p-0;
        @apply leading-6;
        @apply inline;
        @apply lg:list-item;

        &:not(:last-of-type):after {
          content: ", ";
        }

        &:nth-last-of-type(2):after {
          content: " und ";
        }
      }
    }

    p {
      @apply m-0;
      @apply mt-2;
      @apply p-0;
      @apply leading-6;
      @apply inline;
      @apply lg:block;
    }

    ul + p {
      @apply lg:-mt-6;
      @apply inline;
      @apply lg:block;
    }
  }
}
